<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/sachin/IdeaProjects/JenkinProject/src/test/java/com/bridgelabz/selenium/test/LinkedInTest.java">
        <classes>
            <class name="com.bridgelabz.selenium.test.LinkedInTest">
                <methods>
                    <include name="loginTo_Application_with_valid_credentials"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>